.navbar-floating {
  max-width: 860px;
}

@media (max-width: 767px) {
  .navbar-floating {
    border-bottom: 1px solid white;
  }
}

@media (min-width: 768px) {
  .navbar-floating {
    border: 1px solid white;
  }
} 
.notification {
  position: fixed;
  top: var(--navbar-height);
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  z-index: 1000;
}