<h2 class="mb-4 text-center fs-1">Books</h2>

<div class="card-grid">
  @for (book of books(); track book.id) {
    <app-entity-card
      [title]="book.title"
      (edit)="openBookForm(book)"
      (delete)="openConfirmDialog(book)"
    >
      <p class="card-text text-body">{{ book.author }}</p>
      <p class="card-text text-body">{{ book.publishedDate }}</p>
    </app-entity-card>
  }
</div>

<button class="btn btn-primary mt-3" (click)="openBookForm()">Add book</button>
@if (showForm()) {
  <app-book-form [book]="selectedBook()" (close)="closeBookForm()" (saved)="loadBooks()" />
}
@if (showConfirmDialog()) {
  <app-confirm-dialog
    [message]="confirmMessage()"
    (confirm)="onConfirm()"
    (decline)="onDecline()"
  />
}
